@import "tailwindcss";

@theme {

    --breakpoint-xss: 200px;   
    --breakpoint-xs: 358px;
    --breakpoint-sm: 601px; 
    --breakpoint-md: 768px;     
    --breakpoint-lg: 960px;     
    --breakpoint-xl: 1280px;    
    --breakpoint-2xl: 1536px;    
}
